:root {
  --white: #dfdfdf;
  --grey: #90909f; 
  --black: #112;
  --pink: #e699b7;
  --pink-dark: #d13284;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

html, button, input {
  font-family: 'Poppins', sans-serif; 
}

a {
  color: var(--pink-dark);
  text-decoration:none;
  font-weight: 600;
}

.hero {
  background: url('../assets/bg1.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.hero-content {
  background: radial-gradient(ellipse at top, transparent, black),
            radial-gradient(ellipse at bottom, transparent, black);
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

.hero header {
  width: 100%;
  position: sticky;
  top: 2rem;
}

.hero header img {
  margin-left: 2rem;
  width: 10%;
  max-width: 20%;
}

.hero .title-container {
  box-sizing: border-box;
  width: 90%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .title-container img {
  width: 40%;
  margin-bottom: 2rem;
}

.hero .title {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.hero .title h1 {
  font-size: 3rem;
  letter-spacing: -2px;
} 

.hero .title h1 span {
  background: linear-gradient(90deg, rgba(219,86,154,1) 56%, rgba(230,153,183,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} 

.hero .title p {
  color: var(--grey);
}

.cta {
  color: var(--white);
  font-size: 0.875rem;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta p {
  margin-bottom: .5rem;
}

.cta a {
  color: var(--white);
  background-color: var(--pink-dark);
  border-radius: 0.2rem;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.25rem 3rem;
  text-decoration: none;

  transition: .2s;
}

.cta a:hover {
  background-color: var(--pink);
  color: var(--black);
  box-shadow: 0 0 0.2rem var(--pink);
}

/* registration */

.registration {
  background-color: var(--black);
  color: var(--white);
  height: 130vh;
  width: 100%;

  display: flex;
  flex-direction : column;
  align-items: center;
  justify-content: space-between;
}

.registration form {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.625rem;
  padding: 2rem ;
  max-width: 30rem;
  margin-top: 7.5rem;
}

.registration form h2 {
  border-bottom: 1px solid var(--grey);
  margin-bottom: 2rem;
}

.registration .input-element {
  display: flex;
  align-items: center;
}

.registration .input-container {
  margin-bottom: 2rem;
}

.registration .input-element i {
  background-color: var(--pink-dark);
  border-radius: 0.2rem 0 0 0.2rem;
  color: white;
  font-size: 1.125rem;
  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.registration .input-container label {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 600;
  display: block;
  margin-bottom: 0.065rem;
}

.registration form input {
  background-color: transparent;
  border: 1px solid var(--pink-dark);
  border-radius: 0 0.2rem 0.2rem 0;
  color: var(--white);
  font-weight: 600;
  height: 2.5rem;
  width: 100%;
  outline: none;
  padding-left: 0.875rem;
}

.registration form input:focus {
  border: 1px solid var(--pink);
  box-shadow: 0 0 0.3rem var(--pink);
}

.registration button {
  color: var(--white);
  background-color: var(--pink-dark);
  border: none;
  border-radius: 0.2rem;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
  padding: 0.25rem 3rem;
  text-decoration: none;
  outline: none;

  transition: .2s;
}

.registration button:hover {
  background-color: var(--pink);
  box-shadow: 0 0 0.2rem var(--pink);
  color: var(--black);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: black;
  background: linear-gradient(0deg, #001 80%, transparent 100%);

  margin-top: 7.5rem;
  padding-top: 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section{
  display: flex;
  justify-content: space-between;
}

footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2rem;
}

footer .info img {
  width: 40%;
  margin-bottom: 1rem;
}
footer .info p {
  color: var(--white);
  font-size: 0.75rem;
  line-height: 200%;
  margin-bottom: 0.5rem;
  text-align: justify;
}

footer .social-media {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  padding: 2rem;
}

footer .social-media i {
  color: var(--white);
  font-size: 2.5rem;
  margin: .5rem;
  transition: .2s;
}

footer .social-media i:hover {
  color: var(--pink-dark);
  transform: rotate(12deg) scale(1.2);
  box-shadow: 0 0 0.5rem black;
}

footer .svg-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2rem;

}

footer .svg-img img{
  width: 200px;
}

footer p {
  margin-bottom: 2rem;
  font-size: 0.625rem;
}

footer p span {
  font-weight: bold;
}

/* Modal */

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  justify-content: center;
}

.modal div {
  background-color: white;
  color: var(--black);
  padding: 4rem;
  border-radius: 1rem;
  max-width: 30rem;
}

.modal div h1 {
  margin-bottom: 2rem;
}
.modal div p {
  color: var(--grey);
  margin-bottom: 1rem;
}

/* Responsive */

@media screen and (max-width: 992px) {
  .hero .hero-content .title-container img {
    width: 70%;
  }
}

  @media screen and (max-width: 768px) {

  .hero header img{
    width: 50%;
  }

  .hero .hero-content .title-container img {
    width: 70%;
  }

  .hero .hero-content .title-container .title {
    width: 90%;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .hero .hero-content .title-container .cta {
    width: 90%;
  }

  .hero .hero-content .title-container .title h1{
    font-size: 2.5rem;
  }
  
  .hero .hero-content .title-container .cta a {
    width: 100%;
    text-align: center;
  }

  form {
    width: 90%;
  }

  footer section {
    display: flex;
    flex-direction: column;
  }

  footer .info p {
    align-self: flex-start;
  }

  footer .svg-img {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 90%;
  }

  .hero .hero-content .title-container img {
    width: 100%;
  }

  .hero .hero-content .title-container .title {
    align-items: center;
  }

  .hero .hero-content .title-container .title h1 {
    font-size: 2rem;
  }
}